<h1>About Me</h1>
<p>I was born in a small town in Ontario, Canada but moved around the country many times before being raised in Cape Breton, Nova Scotia.</p>
<p>My Father is a Tradesman, My Mother is a Nurse, I have two sisters, one an RN and the other a psychology major.</p>
<p>For most of my adult life Ive worked as a pipefitter, and am currently a 3<sup>rd</sup> year apprentice.</p>
<p>In december 2017, I saw a page of computer code and was fascinated by this enigma. And since then I've been on a quest to understand it, and have since found a passion in software development.</p>
<%= link_to 'Home' , pages_home_path %>